:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
  }

  body {
    background-color: #24252a;
    background-color: #171717;

  }

  #cards {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin: 0.3%;
    height: 87.5%;
    margin-top: 0.5%;
  }

  .card {
    background-color: rgb(35, 174, 98);
    position: relative;
    margin: 5px;
    grid-row: 1fr;
  }

  #cards:hover > .card::after {
    opacity: 1;
  }
  
  .card:hover::before {
    opacity: 1;
  }
  
  .card::before,
  .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }
  
  .card::before {
    background: radial-gradient(
      1000px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.06),
      transparent 40%
    );
    z-index: 3;
  }
  
  .card::after {  
    background: radial-gradient(
      1000px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 1),
      transparent 40%
    );
    z-index: 1;
  }
  
  .card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    inset: 1px;
    position: absolute;
    z-index: 2;
  }
  
  #picture .card-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  #picture .card-image {
    grid-column-start: 1;
    grid-column-end: span 4;
    border-radius: 10% 1% 10% 0%;
    grid-row-start: 1;
    grid-row-end: span 10;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }

  #picture .card-image img {
    height: 300px;
    padding-right: 10px;
    padding-top: 10px;
    width: auto;
    border-radius: 10% 10% 10% 10%;
  }

  #picture {
    grid-row-start: 2;
    grid-row-end: span 4;
    grid-column-start: 2;
    grid-column-end: span 2;
    border-radius: 25px 0px 0px 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: 0px;
    border-right: 0px solid;
    /* overflow: hidden; */
  }

  #cv .card-content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    /* border: 2px solid blue; */
  }

  #cv .card-image {
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: span 1;
    /* border: 2px solid red; */
  }

  #cv .card-image img {
    height: 200px;
    padding-left: 10px;
    padding-top: 10px;
    width: auto;
    border-radius: 10% 10% 10% 10%;
  }

  #cv {
    grid-row-start: 6;
    grid-row-end: span 4;
    grid-column-start: 2;
    grid-column-end: span 3;
    border-radius: 25px 10px 25px 25px;
  }

  #about_me {
    grid-row-start: 2;
    grid-row-end: span 4;
    grid-column-start: 4;
    grid-column-end: span 6;
    border-radius: 0px 25px 10px 0px;
    /* border: 2px solid red; */
    border-left: 0px solid;
    margin-left: 0px;
  }

  #blog {
      grid-row-start: 6;
      grid-row-end: span 3;
      grid-column-start: 5;
      grid-column-end: span 6;
      border-radius: 10px 10px 25px 25px;
  }


  #projects {
    grid-row-start: 3;
    grid-row-end: span 3;
    grid-column-start: 10;
    grid-column-end: span 6;
    border-radius: 10px 25px 25px 10px;
  }

  #profiles{
    grid-row-start: 6;
    grid-row-end: span 3;
    grid-column-start: 11;
    grid-column-end: span 5;
    border-radius: 10px 25px 25px 25px;
  }

  #label {
    grid-row-start: 2;
    grid-column-start: 10;
    grid-column-end: span 6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 25px 10px;
  }

  #label > .card-content {
    padding: 15px;
  }

  /* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */
  h1, h2, h3, h4, span {
    color: rgb(240, 240, 240);
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
  }
  
  #centered-vh{
    color: white;
    text-align: center;
  }

  h1:hover {
    color: black;
  }